[submodule "github-core/commit-card-github-tools"]
	path = github-core/commit-card-github-tools
	url = https://github.com/commit-card/commit-card-github-tools.git
[submodule "linkedin-core/commit-card-linkedin-tools"]
	path = linkedin-core/commit-card-linkedin-tools
	url = https://github.com/commit-card/commit-card-linkedin-tools.git
